In [37]:
import pandas as pd
import numpy as np

Load in the data set taken from kaggle

In [40]:
df = pd.read_csv('data/2021-2022 NBA Player Stats - Regular.csv', encoding="Windows-1252", delimiter=",")

df

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Precious Achiuwa,C,22,TOR,73,28,23.6,3.6,8.3,...,0.595,2.0,4.5,6.5,1.1,0.5,0.6,1.2,2.1,9.1
1,2,Steven Adams,C,28,MEM,76,75,26.3,2.8,5.1,...,0.543,4.6,5.4,10.0,3.4,0.9,0.8,1.5,2.0,6.9
2,3,Bam Adebayo,C,24,MIA,56,56,32.6,7.3,13.0,...,0.753,2.4,7.6,10.1,3.4,1.4,0.8,2.6,3.1,19.1
3,4,Santi Aldama,PF,21,MEM,32,0,11.3,1.7,4.1,...,0.625,1.0,1.7,2.7,0.7,0.2,0.3,0.5,1.1,4.1
4,5,LaMarcus Aldridge,C,36,BRK,47,12,22.3,5.4,9.7,...,0.873,1.6,3.9,5.5,0.9,0.3,1.0,0.9,1.7,12.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
807,601,Thaddeus Young,PF,33,TOR,26,0,18.3,2.6,5.5,...,0.481,1.5,2.9,4.4,1.7,1.2,0.4,0.8,1.7,6.3
808,602,Trae Young,PG,23,ATL,76,76,34.9,9.4,20.3,...,0.904,0.7,3.1,3.7,9.7,0.9,0.1,4.0,1.7,28.4
809,603,Omer Yurtseven,C,23,MIA,56,12,12.6,2.3,4.4,...,0.623,1.5,3.7,5.3,0.9,0.3,0.4,0.7,1.5,5.3
810,604,Cody Zeller,C,29,POR,27,0,13.1,1.9,3.3,...,0.776,1.9,2.8,4.6,0.8,0.3,0.2,0.7,2.1,5.2
811,605,Ivica Zubac,C,24,LAC,76,76,24.4,4.1,6.5,...,0.727,2.9,5.6,8.5,1.6,0.5,1.0,1.5,2.7,10.3

Load in data taken from NBA

In [45]:
nba_df = pd.read_csv('data/nba_stats.csv', encoding="Windows-1252", delimiter=",")

nba_df

,#,Player,TEAM,GP,MIN,PTS,FGM,FGA,FG%,3PM,...,FTA,FT%,OREB,DREB,REB,AST,STL,BLK,TOV,EFF
0,1,Joel Embiid,PHI,68,33.8,30.6,9.8,19.6,49.9,1.4,...,11.8,81.4,2.1,9.6,11.7,4.2,1.1,1.5,3.1,33.9
1,2,Giannis Antetokounmpo,MIL,67,32.9,29.9,10.3,18.6,55.3,1.1,...,11.4,72.2,2.0,9.6,11.6,5.8,1.1,1.4,3.3,35.0
2,3,Luka Doncic,DAL,65,35.4,28.4,9.9,21.6,45.7,3.1,...,7.5,74.4,0.9,8.3,9.1,8.7,1.2,0.6,4.5,29.8
3,4,Trae Young,ATL,76,34.9,28.4,9.4,20.3,46.0,3.1,...,7.3,90.4,0.7,3.1,3.7,9.7,0.9,0.1,4.0,27.2
4,5,DeMar DeRozan,CHI,76,36.1,27.9,10.2,20.2,50.4,0.7,...,7.8,87.7,0.7,4.4,5.2,4.9,0.9,0.3,2.4,25.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
223,224,Frank Ntilikina,DAL,58,11.8,4.1,1.5,3.8,39.9,0.7,...,0.4,96.0,0.2,1.2,1.4,1.2,0.5,0.1,0.5,4.4
224,225,Juan Toscano-Anderson,GSW,73,13.6,4.1,1.6,3.2,48.9,0.4,...,1.0,57.1,0.4,2.0,2.4,1.7,0.7,0.2,0.9,6.1
225,226,Jordan McLaughlin,MIN,62,14.5,3.8,1.4,3.2,44.0,0.4,...,0.6,75.0,0.4,1.2,1.5,2.9,0.9,0.2,0.6,6.7
226,227,Trent Forrest,UTA,60,12.8,3.3,1.3,2.6,49.0,0.1,...,0.8,79.2,0.4,1.3,1.7,1.8,0.5,0.1,0.8,5.0
227,228,Dalano Banton,TOR,64,10.9,3.2,1.3,3.2,41.1,0.2,...,0.7,59.1,0.6,1.3,1.9,1.5,0.4,0.2,0.8,4.3

Check for empty values for the kaggle data

In [42]:
np.where(pd.isnull(df))

(array([], dtype=int64), array([], dtype=int64))

Check for empty values for the nba data

In [46]:
np.where(pd.isnull(nba_df))

(array([], dtype=int64), array([], dtype=int64))

Drop the columns with text values to make them easier to work with

In [43]:
df.drop("Tm", inplace=True, axis=1)
df.drop("Pos", inplace=True, axis=1)
df.reset_index()

,index,Rk,Player,Age,G,GS,MP,FG,FGA,FG%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,1,Precious Achiuwa,22,73,28,23.6,3.6,8.3,0.439,...,0.595,2.0,4.5,6.5,1.1,0.5,0.6,1.2,2.1,9.1
1,1,2,Steven Adams,28,76,75,26.3,2.8,5.1,0.547,...,0.543,4.6,5.4,10.0,3.4,0.9,0.8,1.5,2.0,6.9
2,2,3,Bam Adebayo,24,56,56,32.6,7.3,13.0,0.557,...,0.753,2.4,7.6,10.1,3.4,1.4,0.8,2.6,3.1,19.1
3,3,4,Santi Aldama,21,32,0,11.3,1.7,4.1,0.402,...,0.625,1.0,1.7,2.7,0.7,0.2,0.3,0.5,1.1,4.1
4,4,5,LaMarcus Aldridge,36,47,12,22.3,5.4,9.7,0.550,...,0.873,1.6,3.9,5.5,0.9,0.3,1.0,0.9,1.7,12.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
807,807,601,Thaddeus Young,33,26,0,18.3,2.6,5.5,0.465,...,0.481,1.5,2.9,4.4,1.7,1.2,0.4,0.8,1.7,6.3
808,808,602,Trae Young,23,76,76,34.9,9.4,20.3,0.460,...,0.904,0.7,3.1,3.7,9.7,0.9,0.1,4.0,1.7,28.4
809,809,603,Omer Yurtseven,23,56,12,12.6,2.3,4.4,0.526,...,0.623,1.5,3.7,5.3,0.9,0.3,0.4,0.7,1.5,5.3
810,810,604,Cody Zeller,29,27,0,13.1,1.9,3.3,0.567,...,0.776,1.9,2.8,4.6,0.8,0.3,0.2,0.7,2.1,5.2
811,811,605,Ivica Zubac,24,76,76,24.4,4.1,6.5,0.626,...,0.727,2.9,5.6,8.5,1.6,0.5,1.0,1.5,2.7,10.3

Remove duplicate players from Kaggle dataset by combining duplicate rows together and taking the mean of their values (rounded to as many decimal points as was in the values respective columns)

In [160]:
duplicate_count = {}
row_memory = {}
dup_list = df.duplicated(subset=['Player'], keep=False)

for index, row in df.iterrows():
    if not dup_list[index]:
        continue
    if row["Player"] not in row_memory:
        row_memory[row["Player"]] = row
        duplicate_count[row["Player"]] = 1
        continue
    row_memory[row["Player"]] = row_memory[row["Player"]] + row
    duplicate_count[row["Player"]] += 1

def get_row_mean(row, player):
    row["Rk"] /=   round(duplicate_count[player])
    row["Player"] = player
    row["Age"] = row["Age"] = row["Age"] / duplicate_count[player]
    row["G"] = round(row["G"] / duplicate_count[player])
    row["GS"] = round(row["GS"] / duplicate_count[player])
    row["MP"] = round(row["MP"] / duplicate_count[player], 1)
    row["FG"] = round(row["FG"] / duplicate_count[player], 1)
    row["FGA"] = round(row["FGA"] / duplicate_count[player], 1)
    row["FG%"] = round(row["FG%"] / duplicate_count[player], 3)
    row["3P"] = round(row["3P"] / duplicate_count[player], 1)
    row["3PA"] = round(row["3PA"] / duplicate_count[player], 1)
    row["3P%"] = round(row["3P%"] / duplicate_count[player], 1)
    row["2P"] = round(row["2P"] / duplicate_count[player], 1)
    row["2PA"] = round(row["2PA"] / duplicate_count[player], 1)
    row["2P%"] = round(row["2P%"] / duplicate_count[player], 3)
    row["eFG%"] = round(row["eFG%"] / duplicate_count[player], 3)
    row["FT"] = round(row["FT"] / duplicate_count[player], 1)
    row["FTA"] = round(row["FTA"] / duplicate_count[player], 1)
    row["FT%"] = round(row["FT%"] / duplicate_count[player], 3)
    row["ORB"] = round(row["ORB"] / duplicate_count[player], 1)
    row["DRB"] = round(row["DRB"] / duplicate_count[player], 1)
    row["TRB"] = round(row["TRB"] / duplicate_count[player], 1)
    row["AST"] = round(row["AST"] / duplicate_count[player], 1)
    row["STL"] = round(row["STL"] / duplicate_count[player], 1)
    row["BLK"] = round(row["BLK"] / duplicate_count[player], 1)
    row["TOV"] = round(row["TOV"] / duplicate_count[player], 1)
    row["PF"] = round(row["PF"] / duplicate_count[player], 1)
    row["PTS"] = round(row["PTS"] / duplicate_count[player], 1)

    return row

filtered_df = df[df.duplicated(subset=['Player'], keep=False) == False].reset_index(drop=True)

for player in row_memory.keys():
    new_row = get_row_mean(row_memory[player], player)
    temp_df = pd.DataFrame(new_row)
    filtered_df = pd.concat([filtered_df, temp_df.transpose()]).reset_index(drop=True)

filtered_df

,Rk,Player,Age,G,GS,MP,FG,FGA,FG%,3P,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Precious Achiuwa,22,73,28,23.6,3.6,8.3,0.439,0.8,...,0.595,2.0,4.5,6.5,1.1,0.5,0.6,1.2,2.1,9.1
1,2,Steven Adams,28,76,75,26.3,2.8,5.1,0.547,0.0,...,0.543,4.6,5.4,10.0,3.4,0.9,0.8,1.5,2.0,6.9
2,3,Bam Adebayo,24,56,56,32.6,7.3,13.0,0.557,0.0,...,0.753,2.4,7.6,10.1,3.4,1.4,0.8,2.6,3.1,19.1
3,4,Santi Aldama,21,32,0,11.3,1.7,4.1,0.402,0.2,...,0.625,1.0,1.7,2.7,0.7,0.2,0.3,0.5,1.1,4.1
4,5,LaMarcus Aldridge,36,47,12,22.3,5.4,9.7,0.55,0.3,...,0.873,1.6,3.9,5.5,0.9,0.3,1.0,0.9,1.7,12.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
600,572.0,Tremont Waters,24.0,2,0,15.2,1.3,4.2,0.345,0.6,...,0.0,0.0,1.1,1.1,1.9,1.6,0.0,1.1,1.4,3.1
601,578.0,Derrick White,27.0,50,35,29.0,4.4,10.4,0.419,1.5,...,0.862,0.5,3.0,3.5,4.7,0.8,0.8,1.5,2.3,12.9
602,593.0,Justise Winslow,25.0,32,7,18.6,2.8,6.6,0.427,0.4,...,0.587,1.2,3.5,4.7,2.0,0.9,0.5,1.0,1.5,6.9
603,599.0,Moses Wright,23.0,3,0,2.9,0.2,0.8,0.167,0.0,...,0.667,0.2,0.4,0.6,0.6,0.0,0.2,0.0,0.0,1.0
604,601.0,Thaddeus Young,33.0,35,1,16.3,2.7,5.2,0.52,0.3,...,0.468,1.5,2.5,4.0,2.0,1.0,0.3,1.0,1.6,6.2

Get all players not in the NBA stats

In [168]:
non_nba_stat_players = []

for index, row in filtered_df.iterrows():
    if row["Player"] not in df["Player"]:
        non_nba_stat_players.append(row["Player"])
non_nba_stat_players

['Precious Achiuwa',
 'Steven Adams',
 'Bam Adebayo',
 'Santi Aldama',
 'LaMarcus Aldridge',
 'Grayson Allen',
 'Jarrett Allen',
 'Jose Alvarado',
 'Kyle Anderson',
 'Giannis Antetokounmpo',
 'Thanasis Antetokounmpo',
 'Carmelo Anthony',
 'Cole Anthony',
 'OG Anunoby',
 'Ryan Arcidiacono',
 'Trevor Ariza',
 'Deni Avdija',
 'Joel Ayayi',
 'Deandre Ayton',
 'Udoka Azubuike',
 'LaMelo Ball',
 'Lonzo Ball',
 'Mo Bamba',
 'Desmond Bane',
 'Dalano Banton',
 'Cat Barber',
 'Harrison Barnes',
 'Scottie Barnes',
 'RJ Barrett',
 'Will Barton',
 'Paris Bass',
 'Charles Bassey',
 'Keita Bates-Diop',
 'Nicolas Batum',
 'Kent Bazemore',
 'Darius Bazley',
 'Bradley Beal',
 'Malik Beasley',
 'Jordan Bell',
 'Patrick Beverley',
 'Saddiq Bey',
 'Khem Birch',
 'Goga Bitadze',
 'Bismack Biyombo',
 'Nemanja Bjelica',
 'Eric Bledsoe',
 'Keljin Blevins',
 'Bogdan Bogdanovi?',
 'Bojan Bogdanovi?',
 'Bol Bol',
 'Leandro Bolmaro',
 'Isaac Bonga',
 'Devin Booker',
 'Brandon Boston Jr.',
 'Chris Boucher',
 'James Bouknight',
 'Avery Bradley',
 'Tony Bradley',
 'Ignas Brazdeikis',
 'Mikal Bridges',
 'Miles Bridges',
 'Oshae Brissett',
 'Malcolm Brogdon',
 'Dillon Brooks',
 'Bruce Brown',
 'Greg Brown III',
 'Jaylen Brown',
 'Sterling Brown',
 'Troy Brown Jr.',
 'Jalen Brunson',
 'Thomas Bryant',
 'Shaq Buchanan',
 'Reggie Bullock',
 'Trey Burke',
 'Alec Burks',
 'Jared Butler',
 'Jimmy Butler',
 'Devontae Cacok',
 'Kentavious Caldwell-Pope',
 'Facundo Campazzo',
 'Vlatko ?an?ar',
 'Devin Cannady',
 'Clint Capela',
 'Wendell Carter Jr.',
 'Alex Caruso',
 'Ahmad Caver',
 'Justin Champagnie',
 'Zylan Cheatham',
 'Chris Chiozza',
 'Marquese Chriss',
 'Josh Christopher',
 'Gary Clark',
 'Brandon Clarke',
 'Jordan Clarkson',
 'Nic Claxton',
 'Amir Coffey',
 'John Collins',
 'Zach Collins',
 'Darren Collison',
 'Mike Conley',
 'Pat Connaughton',
 'Tyler Cook',
 'Sharife Cooper',
 'Petr Cornelie',
 'Jae Crowder',
 'Jarrett Culver',
 'Jarron Cumberland',
 'Cade Cunningham',
 'Stephen Curry',
 'Anthony Davis',
 'Ed Davis',
 'Terence Davis',
 'Gabriel Deck',
 'Dewayne Dedmon',
 'Sam Dekker',
 'Javin DeLaurier',
 'DeMar DeRozan',
 'Mamadi Diakite',
 'Cheick Diallo',
 'Hamidou Diallo',
 'Gorgui Dieng',
 'Luka Don?i?',
 'Luguentz Dort',
 'Ayo Dosunmu',
 'Damyean Dotson',
 'Devon Dotson',
 'Sekou Doumbouya',
 'PJ Dozier',
 'Chris Duarte',
 'David Duke Jr.',
 'Kris Dunn',
 'Kevin Durant',
 'Jaime Echenique',
 'Anthony Edwards',
 'Carsen Edwards',
 'Kessler Edwards',
 'Rob Edwards',
 'CJ Elleby',
 'Wayne Ellington',
 'Joel Embiid',
 'Tacko Fall',
 'Derrick Favors',
 'Dorian Finney-Smith',
 'Malachi Flynn',
 'Aleem Ford',
 'Trent Forrest',
 'Evan Fournier',
 "De'Aaron Fox",
 'Melvin Frazier',
 'Enes Freedom',
 'Markelle Fultz',
 'Daniel Gafford',
 'Danilo Gallinari',
 'Darius Garland',
 'Marcus Garrett',
 'Usman Garuba',
 'Luka Garza',
 'Rudy Gay',
 'Paul George',
 'Taj Gibson',
 'Josh Giddey',
 'Shai Gilgeous-Alexander',
 'Anthony Gill',
 'Freddie Gillespie',
 'Rudy Gobert',
 'Brandon Goodwin',
 'Jordan Goodwin',
 'Aaron Gordon',
 'Eric Gordon',
 "Devonte' Graham",
 'Jerami Grant',
 'Hassani Gravett',
 'Danny Green',
 'Draymond Green',
 'Jalen Green',
 'JaMychal Green',
 'Javonte Green',
 'Jeff Green',
 'Josh Green',
 'Blake Griffin',
 'Quentin Grimes',
 'Kyle Guy',
 'Rui Hachimura',
 'Tyler Hall',
 'R.J. Hampton',
 'Tim Hardaway Jr.',
 'Maurice Harkless',
 'Jared Harper',
 'Gary Harris',
 'Joe Harris',
 'Tobias Harris',
 'Shaquille Harrison',
 'Isaiah Hartenstein',
 'Udonis Haslem',
 'Sam Hauser',
 'Jaxson Hayes',
 'Killian Hayes',
 'Gordon Hayward',
 'Aaron Henry',
 'Willy Hernangï¿½mez',
 'Tyler Herro',
 'Haywood Highsmith',
 'George Hill',
 'Solomon Hill',
 'Nate Hinton',
 'Jaylen Hoard',
 'Jrue Holiday',
 'Richaun Holmes',
 'Scotty Hopson',
 'Al Horford',
 'Talen Horton-Tucker',
 'Dwight Howard',
 'Markus Howard',
 'Kevin Huerter',
 'Jay Huff',
 'Feron Hunt',
 "De'Andre Hunter",
 'Chandler Hutchison',
 'Bones Hyland',
 'Andre Iguodala',
 'Joe Ingles',
 'Brandon Ingram',
 'Kyrie Irving',
 'Wes Iwundu',
 'Frank Jackson',
 'Isaiah Jackson',
 'Jaren Jackson Jr.',
 'Reggie Jackson',
 'LeBron James',
 'DeJon Jarreau',
 'DaQuan Jeffries',
 'Ty Jerome',
 'Isaiah Joe',
 'B.J. Johnson',
 'Cameron Johnson',
 'David Johnson',
 'Jalen Johnson',
 'James Johnson',
 'Joe Johnson',
 'Keldon Johnson',
 'Stanley Johnson',
 'Nikola Joki?',
 'Damian Jones',
 'Derrick Jones Jr.',
 'Herbert Jones',
 'Jemerrio Jones',
 'Kai Jones',
 'Mason Jones',
 'Tre Jones',
 'Tyus Jones',
 'Cory Joseph',
 'Frank Kaminsky',
 'Luke Kennard',
 'George King',
 'Louis King',
 'Corey Kispert',
 'Maxi Kleber',
 'Brandon Knight',
 'Nathan Knight',
 'John Konchar',
 'Furkan Korkmaz',
 'Vit Krejci',
 'Arnoldas Kulboka',
 'Jonathan Kuminga',
 'Kyle Kuzma',
 'Anthony Lamb',
 'Jock Landale',
 'Zach LaVine',
 'Jake Layman',
 'Damion Lee',
 'Saben Lee',
 'Alex Len',
 'Kira Lewis Jr.',
 'Scottie Lewis',
 'Damian Lillard',
 'Nassir Little',
 'Isaiah Livers',
 'Kevon Looney',
 'Brook Lopez',
 'Robin Lopez',
 'Kevin Love',
 'Kyle Lowry',
 'Gabriel Lundberg',
 'Timothï¿½ Luwawu-Cabarrot',
 'Thï¿½o Maledon',
 'Sandro Mamukelashvili',
 'Terance Mann',
 'Tre Mann',
 'Boban Marjanovi?',
 'Lauri Markkanen',
 'Naji Marshall',
 'Caleb Martin',
 'Cody Martin',
 'Kenyon Martin Jr.',
 'Garrison Mathews',
 'Dakota Mathias',
 'Wesley Matthews',
 'Tyrese Maxey',
 'Skylar Mays',
 'Miles McBride',
 'T.J. McConnell',
 'Jaden McDaniels',
 'Jalen McDaniels',
 'Doug McDermott',
 'JaVale McGee',
 'Cameron McGriff',
 'Rodney McGruder',
 'Alfonzo McKinnie',
 'JaQuori McLaughlin',
 'Jordan McLaughlin',
 'Ben McLemore',
 "De'Anthony Melton",
 'Sam Merrill',
 'Chimezie Metu',
 'Khris Middleton',
 'C.J. Miles',
 'Patty Mills',
 'Shake Milton',
 'Davion Mitchell',
 'Donovan Mitchell',
 'Evan Mobley',
 'Malik Monk',
 'Moses Moody',
 'Xavier Moon',
 'Matt Mooney',
 'Ja Morant',
 'Jaylen Morris',
 'Marcus Morris',
 'Markieff Morris',
 'Monte Morris',
 'Emmanuel Mudiay',
 'Ade Murkey',
 'Trey Murphy III',
 'Dejounte Murray',
 'Mike Muscala',
 'Svi Mykhailiuk',
 'Abdel Nader',
 'RJ Nembhard Jr.',
 'Aaron Nesmith',
 'Raul Neto',
 'Malik Newman',
 'Georges Niang',
 'Daishen Nix',
 'Zeke Nnaji',
 'Nerlens Noel',
 'Jaylen Nowell',
 'Frank Ntilikina',
 'Jusuf Nurki?',
 'David Nwaba',
 'Jordan Nwora',
 "Royce O'Neale",
 'Chuma Okeke',
 'Josh Okogie',
 'Onyeka Okongwu',
 'Isaac Okoro',
 'KZ Okpala',
 'Victor Oladipo',
 'Cameron Oliver',
 'Kelly Olynyk',
 'Eugene Omoruyi',
 'Miye Oni',
 'Cedi Osman',
 'Daniel Oturu',
 'Kelly Oubre Jr.',
 'Jaysean Paige',
 'Trayvon Palmer',
 'Kevin Pangos',
 'Jabari Parker',
 'Eric Paschall',
 'Chris Paul',
 'Cameron Payne',
 'Elfrid Payton',
 'Gary Payton II',
 'Norvel Pelle',
 'Jamorko Pickett',
 'Theo Pinson',
 'Mason Plumlee',
 'Jakob Poeltl',
 'Aleksej Pokusevski',
 'Yves Pons',
 'Jordan Poole',
 'Kevin Porter Jr.',
 'Michael Porter Jr.',
 'Otto Porter Jr.',
 'Bobby Portis',
 'Micah Potter',
 'Dwight Powell',
 'Myles Powell',
 'Joshua Primo',
 'Taurean Prince',
 'Payton Pritchard',
 'Trevelin Queen',
 'Neemias Queta',
 'Immanuel Quickley',
 "Jahmi'us Ramsey",
 'Julius Randle',
 'Austin Reaves',
 'Davon Reed',
 'Paul Reed',
 'Naz Reid',
 'Nick Richards',
 'Austin Rivers',
 'Duncan Robinson',
 'Mitchell Robinson',
 'Jeremiah Robinson-Earl',
 'Isaiah Roby',
 'Derrick Rose',
 'Terrence Ross',
 'Terry Rozier',
 'Ricky Rubio',
 "D'Angelo Russell",
 'Matt Ryan',
 'Olivier Sarr',
 'Jordan Schakel',
 'Admiral Schofield',
 'Tre Scott',
 'Jay Scrubb',
 'Wayne Selden',
 'Alperen ï¿½engï¿½n',
 'Collin Sexton',
 'Landry Shamet',
 "Day'Ron Sharpe",
 'Pascal Siakam',
 'Marko Simonovic',
 'Anfernee Simons',
 'Zavier Simpson',
 'Jericho Sims',
 'Deividas Sirvydis',
 'Marcus Smart',
 'Dennis Smith Jr.',
 'Jaden Springer',
 'Cassius Stanley',
 'Lamar Stevens',
 'Isaiah Stewart',
 'Max Strus',
 'Jalen Suggs',
 'Craig Sword',
 'Keifer Sykes',
 "Jae'Sean Tate",
 'Jayson Tatum',
 'Terry Taylor',
 'Garrett Temple',
 'Emanuel Terry',
 'Tyrell Terry',
 'Jon Teske',
 'Brodric Thomas',
 'Cam Thomas',
 'Matt Thomas',
 'Klay Thompson',
 'JT Thor',
 'Matisse Thybulle',
 'Killian Tillie',
 'Xavier Tillman Sr.',
 'Isaiah Todd',
 'Obi Toppin',
 'Juan Toscano-Anderson',
 'Karl-Anthony Towns',
 'Gary Trent Jr.',
 'P.J. Tucker',
 'Myles Turner',
 'Jonas Valan?i?nas',
 'Jarred Vanderbilt',
 'Fred VanVleet',
 'Devin Vassell',
 'Gabe Vincent',
 'Nikola Vu?evi?',
 'Dean Wade',
 'Franz Wagner',
 'Moritz Wagner',
 'Ish Wainright',
 'Kemba Walker',
 'Lonnie Walker IV',
 'M.J. Walker',
 'Tyrone Wallace',
 'Derrick Walton',
 'Duane Washington Jr.',
 'P.J. Washington',
 'Yuta Watanabe',
 'Lindy Waters III',
 'Trendon Watford',
 'Paul Watson',
 'Quinndary Weatherspoon',
 'Russell Westbrook',
 'Coby White',
 'Hassan Whiteside',
 'Joe Wieskamp',
 'Aaron Wiggins',
 'Andrew Wiggins',
 'Lindell Wigginton',
 'Brandon Williams',
 'Grant Williams',
 'Kenrich Williams',
 'Lou Williams',
 'Patrick Williams',
 'Robert Williams',
 'Ziaire Williams',
 'D.J. Wilson',
 'Dylan Windler',
 'Cassius Winston',
 'Christian Wood',
 'Robert Woodard II',
 'Delon Wright',
 'McKinley Wright IV',
 'Gabe York',
 'Trae Young',
 'Omer Yurtseven',
 'Cody Zeller',
 'Ivica Zubac',
 'Nickeil Alexander-Walker',
 'Justin Anderson',
 'D.J. Augustin',
 'Marvin Bagley III',
 "DeAndre' Bembry",
 'D?vis Bert?ns',
 'Armoni Brooks',
 'Charlie Brown Jr.',
 'Chaundee Brown Jr.',
 'Moses Brown',
 'Vernon Carey Jr.',
 'Jevon Carter',
 'Willie Cauley-Stein',
 'DeMarcus Cousins',
 'Robert Covington',
 'Torrey Craig',
 'Seth Curry',
 'Spencer Dinwiddie',
 'Donte DiVincenzo',
 'Jeff Dowtin',
 'Goran Dragi?',
 'Andre Drummond',
 'James Ennis III',
 'Drew Eubanks',
 'Bruno Fernando',
 'Malik Fitts',
 'Bryn Forbes',
 'Tim Frazier',
 'Wenyen Gabriel',
 'Langston Galloway',
 'Tyrese Haliburton',
 'James Harden',
 'Montrezl Harrell',
 'Josh Hart',
 'Juancho Hernangï¿½mez',
 'Buddy Hield',
 'Malcolm Hill',
 'Aaron Holiday',
 'Justin Holiday',
 'Rodney Hood',
 'Danuel House Jr.',
 'Elijah Hughes',
 'Serge Ibaka',
 'Josh Jackson',
 'Justin Jackson',
 'Alize Johnson',
 'Keon Johnson',
 'Tyler Johnson',
 'Carlik Jones',
 'DeAndre Jordan',
 'Georgios Kalaitzakis',
 'Braxton Key',
 'Kevin Knox',
 'Luke Kornet',
 'Jeremy Lamb',
 'Romeo Langford',
 'Caris LeVert',
 'Didi Louzada',
 'Trey Lyles',
 'Kelan Martin',
 'Mac McClung',
 'CJ McCollum',
 'Paul Millsap',
 'Greg Monroe',
 'Juwan Morgan',
 'Mychal Mulder',
 'Larry Nance Jr.',
 'Semi Ojeleye',
 'Reggie Perry',
 'Kristaps Porzi??is',
 'Norman Powell',
 'Cam Reddish',
 'Josh Richardson',
 'Justin Robinson',
 'Rajon Rondo',
 'Domantas Sabonis',
 'Tomï¿½ Satoransk?',
 'Dennis Schrï¿½der',
 'Chris Silva',
 'Javonte Smart',
 'Ish Smith',
 'Jalen Smith',
 'Xavier Sneed',
 'Tony Snell',
 'Nik Stauskas',
 'Lance Stephenson',
 'Daniel Theis',
 'Isaiah Thomas',
 'Tristan Thompson',
 'Rayjon Tucker',
 'Denzel Valentine',
 'Brad Wanamaker',
 'Tremont Waters',
 'Derrick White',
 'Justise Winslow',
 'Moses Wright',
 'Thaddeus Young']